/*Body*/
body{
    overflow-y: overlay;
}
/*Scrollbar*/
body::-webkit-scrollbar{
    width: 10px;
}
body::-webkit-scrollbar-track{
    background-color: rgba(128, 128, 128, 0.1);
    border-radius: 100px;
}
body::-webkit-scrollbar-thumb{
    background-color: gray;
    border-radius: 100px;
}
/*NavBar*/
nav{
    font-size: 18px;
}
/*Footer*/
footer{
    text-align: center;
    padding: 30px;
    padding-top: 40px !important; 
    color: white;
    font-size: 18px;
}
/*Botão Whatsapp*/
.whatsapp a{
    position: fixed;
    width: 60px;
    height: 60px;
    bottom: 40px;
    right: 40px;
    background-color: rgb(41, 43, 44);
    color: #FFF;
    border-radius: 50px;
    text-align: center;
    font-size: 30px;
    z-index: 1000;
}
.whatsapp i{
    margin-top: 16px
}
/*Formulário*/
.form_cont{
    margin-top: 50px;
    margin-bottom: 50px;
}
.form_cont h1{
    margin-bottom: 50px;
    text-align: center;
}
/*Base*/
section{
    padding-top: 50px;
    padding-bottom: 50px;
}
/*Fontes*/
@import url(https://fonts.googleapis.com/css?family=Anonymous+Pro);
/*Header*/
.header{
    position: relative;
}
.header img{
    width: 100%;
    height: 700px;
    filter: brightness(50%);
    object-fit: cover;
}
.title_header{
    max-width: 80%;
    text-align: center;
    margin: 0;
    position: absolute;
    top: 50%;
    left: 50%;
    margin-right: -50%;
    transform: translate(-50%, -50%);
}
.header a{
    font-size: 160%;
    color: white;
    text-decoration: none;
    font-family: 'Anonymous Pro', monospace;
    margin-bottom: 10px;
}
.header h2{
    color: white;
}
/*Header 2*/
.header_02{
    position: relative;
}
.header_02 img{
    width: 100%;
    filter: brightness(50%);
}
.title_header{
    max-width: 80%;
    text-align: center;
    margin: 0;
    position: absolute;
    top: 50%;
    left: 50%;
    margin-right: -50%;
    transform: translate(-50%, -50%);
}
.header_02 h1{
    color: white;
}
/*Header 3*/
.up-footer{
    padding-top: 100px;
    padding-bottom: 100px;
}
/*Cards*/
.espacamento{
    text-align: center;
    margin-bottom: 30px;
}
/*Textos*/
.ondeestamos{
    text-align: center;
}
.ondeestamos h1{
    margin-top: 50px;
    margin-bottom: 50px;
}
/*Google Maps*/
#map-container-google-1{
    margin-bottom: 50px;
}
.map-container{
    overflow:hidden;
    padding-bottom:56.25%;
    position:relative;
    height:0;
}
.map-container iframe{
    left:0;
    top:0;
    height:100%;
    width:100%;
    position:absolute;
}
/*Informações*/
.buttons a{
    margin-bottom: 20px;
}
.buttons{
    margin-bottom: 50px;
}
/*Textos*/
.texto h1{
    text-align: center;
    margin-top: 50px;
    margin-bottom: 50px;
}
.texto p{
    margin-bottom: 30px;
}
.containertexto{
    width: 600px;
}
/*Marcas*/
.marcas{
    text-align: center;
}
.marcas img{
    width: 300px;
    padding:50px;
}